* {
  box-sizing: border-box;
}
@keyframes anim {
  from {
    left: 0px;
  }
  to {
    left: 1100px;
  }
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  height: 130px;
  border-bottom: 1px solid gray;
}
.logo {
  width: 100px;
}
.logoAnimation {
  scale: 1.5;
  position: relative;
  animation-name: anim;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
.container-logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin: 25px 50px;
}

footer {
  height: 130px;
  border-top: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 500px;
  display: flex;

  justify-content: flex-start;
  align-items: center;
}

.container-switch {
  display: flex;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  border: 1px solid gray;
  margin: 10px;
  border-radius: 5px;
}

.container-display {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.display {
  height: 50px;
  width: 100px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.blue {
  background-color: blue;
}
.purple {
  background-color: purple;
}
.white {
  background-color: white;
}
