* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  height: 130px;
  border-bottom: 1px solid gray;
}
.logo {
  width: 100px;
}
.container-logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin: 25px 50px;
}

footer {
  height: 130px;
  border-top: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 500px;
  display: flex;

  justify-content: flex-start;
  align-items: center;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  border: 1px solid gray;
  margin: 10px;
}

.container-display {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.display {
  height: 50px;
  width: 100px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
